body{
    background-color: #fff1c9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-title{
    color: darkblue;
    text-align: center;
}

/*Header section styles*/

.header-section__info{
    font-weight: 500;
    font-size: 20px;

}

.header-section__info > b{
    color: red;
}
/*Classes section styles*/
.classes-section > li{
    font-weight: 500;
    font-size: 20px;

}

/* Animes Section styles*/
.animes-section__description{
    font-size: 20px;
    font-style: oblique;
}

.animes-section__title{
    color: darkblue;
    text-align: center;
}

.animes-section > li{
    font-weight: 500;
    font-size: 20px;
}

.animes-section__item > a{
    font-style: italic;
    text-decoration: none;
}

/*Moods section styles*/

.moods-section__items{
    display: inline-block;
    width: 100%;
}

.moods-section__item{
    display: inline-block;
}

.moods-section__items > p{
    padding: 5px;
    font-weight: 500;
    color: rgb(0, 145, 255);
}

/* Facts Section Styles*/

.facts-section__items > li{
    font-weight: 500;
    font-style: italic;
}